# Django
SECRET_KEY=unsecure_haha_this_is_dev_only_data
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS y CSRF
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

ACCESS_TOKEN_LIFETIME_MINUTES=100000
REFRESH_TOKEN_LIFETIME_DAYS=7

# Database
DATABASE_URL=sqlite:///db.sqlite3

# Other things
GEMINI_API_KEY=some_gemini_key_for_chatbot_hmmmm
GMAIL_CREDENTIALS_PATH=/path/to/gmail_credentials.json


### DEV ONLY !! ###
DEBUG=True # Will be False if omitted in production
MANAGE_PY_PATH=./manage.py
DJANGO_SETTINGS_MODULE=printpos_api.settings